

      <!-- <%= form_for @search, remote: true do |f| %>
      <h3>Your Bid</h3>
      <%= f.hidden_field :item_id %>
        <div><span class="prefix">Search Here</span></div>
        <div><%= f.text_field :amount %></div>
      <%= f.submit "Submit Search `-`" %>
        <% end %> -->


        <%= form_tag(reports_results_path, :method => "get", id: "search-form", remote: true) do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
        <%= submit_tag "Search" %>
        <% end %>

<div id="search_results_area"
        <% if @hits.present? %>
          <table>
            <thead>
              <tr>
                <th>Matching Gene Name</th>
                <th>Matching DNA</th>
                <th>Percent Similarity</th>
              </tr>
            </thead>
            <tbody>
              <% @hits.each do |h| %>
                <tr>
                  <td><%= h.match_gene_name %></td>
                  <td><%= h.match_gene_dna.first(100) %></td>
                  <td><%= h.percent_similarity %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      <% else %>
          <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
      <% end %>

    </div>
